@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<net.core.ef.Models.Book>

<table class="table">
    <tr>
        <th>Id</th>
        <th>书名</th>
        <th>内容</th>
        <th>发布时间</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
    </tr>
    }
</table>